.footer{
    height: 80px;
    grid-area: footer;
    background: #29302F;
    text-align: center;
}
.footer a{
    text-decoration: none;
    padding: 3px;
}
.footer img{
    width: 20px;
    height: 20px;
}